{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


<div class="container py-5 h-100">
    <div class="mt-5 row d-flex justify-content-center align-items-center h-100">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="col col-xl-12">
            <div class="card text-align-center text-white" style="border-radius: 1rem; background-color: #005856;">
            <div class="card-body p-4 p-lg-5 text-black">
                <h1 class="card-header text-white h3 mb-3 font-weight-normal">Please sign in</h1>
                <label class="text-white" for="inputUsername">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                <label class="text-white" for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

                <button class="btn btn-lg btn-primary m-4" type="submit">
                Sign in
                </button>
                
                <a class="btn btn-lg btn-primary m-4" href="{{ path('app_register') }}">Register Here</a>
                
            </div>
            </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
