{% extends "base.html.twig" %}

{% block javascripts %}

<script language = "javascript" type = "text/javascript">
 
 $(document).ready(function(){     
            $("#search").keyup(function(){
                let value = $(this).val();
                //alert(value);

                if (value != ""){
                    $.ajax({

                        url:"/search",
                        method:"POST",
                        
                        data:{value:value},

                        success: function(data){
                           //alert(value);
                           console.log(data);
                        }

                    });
                }
                else{
                        $("#result").css("display","none");
                }
            }
            
            );
         
 
        });


</script>

{% endblock %}

{% block body %}

<div class="container">
<input class="form-control m-7" id="search" type="text" placeholder="Live search">
<div id="result">hello</div>
</div>
{% endblock %}